.main {
  width: 100vw;
  height: 100vh;
}

.main>div:nth-child(1) {
  position: relative;
  height: 80vh;
  background-color: white;

  >div {
    padding: 30vh 0 0 10vw;
    width: 50vw;
    height: 80vh;
    font-size: 3rem;
    font-weight: 700;

    >a>button {
      background-color: #ADC4CE;
      color: white;
      border: none;
      width: 185px;
      height: 55px;
      border-radius: 5px;
      margin-top: 3vh;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

.main>div:nth-child(2) {
  width: 100vw;
  height: 60vh;
  display: flex;
  background-color: #f4f3ed;
  display: flex;
  align-items: center;
  justify-content: center;

  >div{
    width: 95vw;
    height:50vh;
  }
}

.slider>div:nth-child(2), .slider>div:nth-child(3){
  width:25vw;
  position: relative;
  bottom:40vh;
  right: 30vw;
}
.slider>div:nth-child(2){
  font-size: 2rem;
  font-weight: bold;
}
.slider>div:nth-child(3){
  font-size: 1.1rem;
  margin-top: 5vh;
}

.main>div:nth-child(3) {
  width: 100vw;
  background-color: white;
  height: 25vh;
  display: flex;
  align-items: center;

  div {
    height: 25vh;
    color: #ADC4CE;
    padding: 3vh;

    &:first-child {
      width: 40vw;
      text-align: center;
      font-size: 3rem;
      padding-top: 8vh;
    }

    &:nth-child(2) {
      width: 60vw;
      font-size: 0.7rem;
      padding-left: 30vw;
    }
}
}