.sidemenu {
    width: 9vw;
    height: 85vh;
    display: flex;
}

.sidelink {
    font-size: 1rem;
    width: 9vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DDE6ED;
    padding: 10px;

    a {
        text-decoration: none;
    }

    a:hover {
        background-color: #526D82;
    }

}

.linkname {
    text-decoration: none;
    color: white;
}

.linkbox {
    display: flex;
    width: 8vw;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5vh;
}

.activeLink {
    background-color: #526D82;
}